
/**
 * Termly Banner
 */

#termly-code-snippet-support {
  #consent {
    margin: 0;
    padding: 1.75em 2em;
    border-radius: 0;
    width: 100%;
    min-height: 0;

    p {
      max-width: none;
    }
  }
}
