
/**
 * Site Footer
 */

.site-footer {
  color: #fff;
  background-color: $footer-bkg;

  h5, .h5 {
    color: inherit;
  }

  p {
    margin: 0;
  }

  a {
    color: inherit;

    &:hover,
    &:focus {
      color: inherit;
    }
  }
}


/**
 * Main Footer Sections
 */

.primary-footer {
  padding: 3em 0;
}

.site-info {
  padding: 1.5em 0;
  border-top: 2px solid rgba( #fff, 0.3 );
}


/**
 * Site Address
 */

.address-block {
  text-align: center;
  font-size: 18px;
  font-family: $font-heading;
  font-weight: 500;
  margin-top: 4px;
  position: relative;
  @include breakpoint($bp-med) {
    text-align: left;
  }
  @include breakpoint($bp-large){
    display: flex;
  }

  .address-title {
    text-align: center;
  }
  .h5{
    font-size: 18px;
  }

  a {
    text-decoration: none;
    border-bottom: 1px solid rgba( #fff, 0 );
    transition: opacity 500ms;

    &:hover,
    &:focus {
      opacity: 0.75;
    }
  }
  p{
   @include breakpoint($bp-large){
     display: flex;
   }
  }
  span:nth-of-type(3){
    @include breakpoint($bp-large){
      margin-right: 4px;
      margin-left: 4px;
    }
  }
  span:nth-of-type(2){
    margin-left: 0.3em;
  }
  span:nth-of-type(4){
    @include breakpoint($bp-large){
      position: relative;
      margin-right: 25px;
      &:after{
        content: "";
        width: 1px;
        height: 17px;
        background: white;
        /* display: inline-block; */
        /* margin-left: 17px; */
        /* margin-top: 6px; */
        position: absolute;
        right: -14px;
        top: 4px;
      }
    }
  }
  &:before{
    @include breakpoint($bp-large){
        content: "";
        position: absolute;
        width: 540px;
        border-bottom: 1px solid white;
        bottom: -20px;
      }
    }
  }

.address-contact-info {
  margin-top: 0.5em;
  @include breakpoint($bp-large){
    margin-top: 0;
  }
}


/**
 * Site Copyright
 */

.site-copyright {
  text-align: center;
  font-size: 17px;
  margin-bottom: 14px;
  font-family: $font-heading;
  font-weight: 500;
  @include breakpoint($bp-med) {
    text-align: left;
  }
  @include breakpoint($bp-large){
    margin-bottom: 0;
  }
  @include breakpoint($bp-xl){
    font-size: 21px;
  }
}


/**
 * Imagebox Branding
 */

.imagebox {
  margin-top: 4px;
  text-align: center;
  font-size: 17px;
  font-family: $font-heading;
  font-weight: 500;
  @include breakpoint($bp-med) {
    margin-top: 0;
    vertical-align: top;
    text-align: right;
  }
  @include breakpoint($bp-xl){
    font-size: 21px;
  }

  svg {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: -8px;
    margin-left: 5px;
  }

  a {
    color: #fff;
    transition: opacity 500ms;

    &:hover,
    &:focus {
      opacity: 0.75;
    }
  }
}

.top-footer-box{
  border-bottom: 1px solid white;
  padding-bottom: 22px;
  margin-bottom: 14px;
  @include breakpoint($bp-large){
    border-bottom: none;
  }
  .row{
    > div{
      padding: 0;
    }
  }
  .social-nav{
    padding-top: 14px;
    @include breakpoint($bp-med){
      padding-top: 0px;
    }
  }
  p{
    text-align: center;
    @include breakpoint($bp-med){
      text-align: left;
    }
  }
}

.bottom-footer-box{
  .row{
    > div{
      padding: 0;
    }
  }
  .nav-box{
    display: flex;
    flex-direction: column;
    @include breakpoint($bp-large){
      flex-direction: row;
    }
  }
}

p.address-title.h5{
  font-size: 18px;
}
