
.page-template-template-home {
  .alert-box{
    margin-bottom: 60px;
    box-shadow: 1px 1px 14px 0 rgb(50 50 50 / 55%);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    .row{
      > div{
        padding: 0;
      }
    }
    .photo-box{
      position: relative;
      overflow: hidden;
      height: 240px;
      border-top-right-radius: 6px;
      border-top-left-radius: 6px;
      @include breakpoint($bp-large){
        height: 311px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 6px;
      }
      img{
        @include block-fit-cover(30em);
        @include breakpoint($bp-med){
          @include block-fit-cover(30em);
        }
      }
    }
    .content-box{
      height: 100%;
      background-color: white;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      @include breakpoint($bp-med){
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
      }
      .content{
        height: 100%;
        align-items: flex-start;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding: 2.5em;
        @include breakpoint($bp-large){
          padding-left: 3em;
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }
  }
  .split-box{
    .row{
      > div{
        padding: 0;
      }
    }
    .photo-box{
      position: relative;
      overflow: hidden;
      height: 300px;
      @include breakpoint($bp-med){
        height: 541px;
      }
      img{
        @include block-fit-cover(50em);
        @include breakpoint($bp-med){
          @include block-fit-cover(70em);
        }
      }
    }
    .content-box{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      padding: 2em 0;
      max-width: 93%;
      margin: auto;
      padding-top: 0;
      @include breakpoint($bp-large){
        max-width: 620px;
        margin-left: auto;
        margin-right: 0;
        padding-left: 3em;
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 4em;
      }
    }
  }
  .home-callout-section{
    @include reverse-block-color();
    background-color: $color-red;
    .callout-box{
      display: flex;
      align-items: center;
      text-align: center;
      flex-direction: column;
      h2{
        flex: 1;
        position: relative;
        @include breakpoint($bp-med){
          padding-right: 70px;
        }
        &:after{
          @include breakpoint($bp-med){
            content: "";
            position: absolute;
            right: 50px;
            background: white;
            height: 91px;
            width: 2px;
            top: -6px;
          }
        }
      }
      p{
        flex: 1.5;
        font-family: $font-heading;
        @include breakpoint($bp-med){
          padding-right: 30px;
          margin-bottom: 0;
        }
      }
      @include breakpoint($bp-med){
        flex-direction: row;
        text-align: left;
      }
    }
  }
  .home-column-section{
    .col-lg + .col-lg{
      padding-top: 2em;
      @include breakpoint($bp-large){
        padding-top: .5em;
      }
    }
    .home-column-content{
      text-align: center;
      height: 100%;
      @include breakpoint($bp-large){
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
      img{
        margin-bottom: 1em;
      }
      p{
        @include breakpoint($bp-large){
          padding: 0 2em;
        }
      }
      .row{
        > div{
          // padding: 0;
        }
      }
    }
  }

  .homepage-quote-section {
    position: relative;
    overflow: hidden;
    height: 400px;
    background-color: $color-red-light;
    .wrap{
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }
    @include reverse-block-color();
    @include breakpoint($bp-med){
      height: 524px;
    }

    .homepage-quote-section-desktop-bkg,
    .homepage-quote-section-mobile-bkg {
      @include block-fit-cover();
      z-index: 0;
      opacity: 0.5;
    }
    .homepage-quote-section-desktop-bkg {
      display: none;

      @include breakpoint($bp-med) {
        display: block;
      }
    }
    .homepage-quote-section-mobile-bkg {
      display: block;

      @include breakpoint($bp-med) {
        display: none;
      }
    }

    .slide-content {
      text-align: center;

      h2 {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 16px;
        font-weight: 800;

        @include breakpoint($bp-med) {
          font-size: 18px;
        }
      }
    }

  }
 .tns-controls{
   display: none;
   @include breakpoint($bp-med){
     display: block;
   }
 }

}
