
.search {
  article {
    + article {
      margin-top: 2em;
      padding-top: 2em;
      border-top: 2px solid $border-color;
    }
  }
  .sub-menu {
    display: none;
  }

  .search-bar .search-field{
    background-color: $color-gray;
    padding: .5em .75em;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 14px;
    padding-left: 17px;
    font-style: italic;
    font-weight: 600;
    ::placeholder{
      color: $color-black;
    }
    .search-form{

    }
  }

  button.button.search-submit{
    background-color: $color-gray;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .search-bar label {
    padding-right: 1.3em;
  }
  .utility-nav--search{
    margin-right: 14px;
  }
}

input.search-field::placeholder {
    color: $color-black;
}
