
/**
 * Buttons
 */



.button,
input[type="submit"] {
  @include button( $button-color );
}

.text-button {
  @include button-reset;
  padding: 0.15em 0;
  border-bottom: 2px solid $button-color;
  color: $button-color;
  font-size: 14;
  font-weight: 700;
  text-transform: uppercase;
  transition: color 500ms, border-bottom-color 500ms;

  &:hover,
  &:focus {
    border-bottom-color: $button-color--hover;
    color: $button-color--hover;
  }
}


/**
 * Button Group
 */

.button-group {
  margin-top: -8px;
  margin-left: -8px;

  .button {
    margin: 8px;
  }
}

.button--white{
  background-color: white;
  color: $color-red;
}
