
/**
 * Background Colors
 */

.color-option-1 {
  background-color: #fff;
  a{
    &:hover{
      text-decoration: none !important;
    }
  }
}

.color-option-2 {
  background-color: $color-gray;
  a{
    &:hover{
      text-decoration: none !important;
    }
  }
}
.color-option-3 {
  @include reverse-block-color();
  background-color: $color-red;
  strong{
    color: white !important;
  }
  a{
    &:hover{
      text-decoration: none !important;
    }
  }
}


.background-image {
  @include reverse-block-color();
  background-color: $bkg-dark-grey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
