
/**
 * Headings
 */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0;
  margin-bottom: 0.5em;
  color: $heading-color;
  font-family: $font-heading;
  font-weight: 800;
  line-height: 1.2;

  // Add margin for following elements
  p + &,
  ul + &,
  ol + & {
    margin-top: 1em;
  }
}

h1, .h1 {
  @include font-size(30);

  @include breakpoint($bp-large) {
    @include font-size(38);
  }
}

h2, .h2 {
  @include font-size(21);

  @include breakpoint($bp-large) {
    @include font-size(28);
  }
}

h3, .h3 {
  @include font-size(20);
}

h4, .h4 {
  @include font-size(19);
}

h5, .h5 {
  @include font-size(17);
}

h6, .h6 {
  @include font-size(27);
}
