
/**
 * Accessibility Toolbar
 */

.accessibility-toolbar {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.75em 1em;
  border-top-left-radius: 8px;
  min-width: 11em;
  background-color: $bkg-light-grey;
  background-color: rgba(249, 248, 243, .85);
  z-index: 490;
  transition: transform 500ms;

  .no-js & {
    display: none;
  }

  &.is-closed {
    transform: translateY(100%);
    transform: translateY( calc(100% + 1px) );
  }
}

.accessibility-toolbar-body {
  display: flex;
  flex-wrap: wrap;
}

.accessibility-toolbar-toggle {
  position: absolute;
  bottom: 100%;
  right: 1em;
}

.toolbar-toggle-button {
  @include button-reset;
  display: block;
  padding: 0.25em 0.5em;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: #fff;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  background-color: $button-color;
  cursor: pointer;
  transition: background-color 500ms;

  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
    background-color: $button-color--hover;
  }
}

.toolbar-item {
  display: inline-block;
  vertical-align: top;

  + .toolbar-item {
    padding-left: 0.5em;
  }

  h5 {
    margin-bottom: 0.45em;
    font-size: 0.9em;
  }
}

.fs-control {
  @include button-reset;
  display: inline-block;
  vertical-align: top;
  padding: .25em .5em;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  background-color: $button-color;
  transition: background-color 500ms;

  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
    background-color: $button-color--hover;
  }
}


/**
 * Google Translate Widget
 */

.switcher.switcher {
  position: relative !important;
  overflow: visible !important;

  .option {
    position: absolute !important;
    bottom: 100% !important;
  }
}
