
/**
 * Accordions
 */

.accordion {
  br {
    display: none;
  }
}

.accordion-title {
  margin: 0;
  font-size: 1.5em;
  border-bottom: 2px solid $border-color;

  @include breakpoint($bp-large) {
    font-size: 1.5em;
  }

  .color-option-2 & {
    border-bottom-color: darken( $border-color, 15% );
  }

  > button {
    @include button-reset;
    display: block;
    position: relative;
    padding: 0.75em 0;
    padding-right: 2.5em;
    width: 100%;
    color: $heading-color;
    text-align: left;

    &::after {
      position: absolute;
      right: 0;
      top: 50%;
      width: 25px;
      height: 25px;
      color: $button-color;
      text-align: center;
      transform: translateY(-50%);
      content: '+';
    }

    &.open {
      &::after {
        content: '-';
      }
    }
  }
}

.accordion-title--has-icon {
  > button {
    padding-left: 2.5em;
  }

  img {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.accordion-content {
  padding: 1em 0;
  border-bottom: 2px solid $border-color;

  .color-option-2 & {
    border-bottom-color: darken( $border-color, 15% );
  }
}
