
.banner {
  @include clearfix;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  background-color: $banner-bkg;
  overflow: hidden;
  @include breakpoint($bp-med) {
    flex-direction: row-reverse;
    align-items: center;
  }
}

.banner-col {
  width: 100%;

  @include breakpoint($bp-med) {
    float: left;
    width: 50%;
  }
}

.banner-col--1 {
  @include breakpoint($bp-med) {
    display: flex;
    justify-content: flex-end;
  }
}

.banner-col--2 {
  @include breakpoint($bp-med) {
    position: relative;
    float: right;
  }
}

.banner-content-wrap {
  width: 100%;

  @include breakpoint($bp-med) {
    padding: 0 1.5em;
    max-width: 39.5em;
  }
}

.banner-title {
  position: relative;
  padding: 3em 0;
  z-index: 10;

  @include breakpoint($bp-med) {
    @supports ( display: flex ) {
      padding: 0;
    }
  }
}

.banner-heading {
  display: block;
  margin: 0;
  color: #fff;
  font-family: $font-heading;
  font-weight: 700;
  text-align: center;
  font-size: 32px !important;

  @include breakpoint($bp-med) {
    text-align: left;
  }
@include breakpoint($bp-large){
      font-size: 45px !important;
}
  @include breakpoint($bp-mega) {
    font-size: 50px !important;
  }
}

.banner-image {
  display: block;
  margin: 0 auto;
  width: 100%;

  @include breakpoint($bp-med) {
    // @include block-fit-cover( 50em );
  }
}
