
/**
 * Hero Block
 */

.hero {
  // position: relative;
  // min-height: 500px;
  // // height: 80vh;
  // // max-height: 52.4375em;
  // overflow: hidden;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // @include breakpoint($bp-med){
  //   height: 500px;
  // }
  // @include breakpoint($bp-large){
  //   height: 640px;
  // }
  // @include breakpoint($bp-xl){
  //   height: 700px;
  // }
  // @include breakpoint($bp-mega){
  //   height: 743px;
  // }
display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
 height: 52.4375em;
 height: 80vh;
 min-height: 38em;
 max-height: 46.4375em;
 overflow: hidden;
  &.background-image {
    background-color: $color-red-light;
  }

  .wrap {
    position: relative;
    // max-width: 39.625em;
    width: 100%;
    z-index: 10;

    @include breakpoint($bp-large) {
      // max-width: 55.625em;
    }
  }
}

.hero-bkg-image,
.mobile-hero-bkg-image {
  @include block-fit-cover( 70em );
  opacity: 0.4;
}

.hero-bkg-image {
  display: none;

  @include breakpoint($bp-med) {
    display: block;
  }
}

.mobile-hero-bkg-image {
  display: block;

  @include breakpoint($bp-med) {
    display: none;
  }
}

.hero-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}

.hero-content {
  text-align: left;

  @include breakpoint($bp-med){
    width: 559px;
  }

  h1 {
    color: $color-red;
    font-size: 1.65em;

    @include breakpoint($bp-large) {
      font-size: 42px;
    }
  }

  p {
    color: #fff;
    font-size: 15px;
    margin-bottom: 35px;
    font-family: $font-heading;
    font-weight: 800;
    line-height: 1.5;

    @include breakpoint($bp-med) {
      font-size: 17px;
    }
  }

  .button {

  }
}

.hero.background-video {
  background-color: $bkg-light-red;
}


.hero-bkg-video {
  display: block;
  position: absolute;
  left: -9999px;
  top: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
  width: 100%;
  min-width: 110.875em;
  user-drag: none;
  user-select: none;
  opacity: 0.4;
  filter: saturate(0);
  transform: translateY(8em);
  z-index: 1;
}

.hero-video-controls {
  @include button-reset;
  // display: none;
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
  padding: 1em;
  color: #fff;
  background-color: transparent;
  opacity: 0.4;
  transition: opacity 500ms;
  z-index: 10;

  // @include breakpoint($bp-med) {
  //   display: block;
  // }

  .no-js & {
    display: none;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  svg {
    display: block;
  }
}
