
/**
 * Entry Content
 */

.entry-content,
.page-content {

  li {
    font-weight: 500;
  }

  // Custom list bullets
  > ul {

    ul {
      margin: 0;
    }

    li {
      position: relative;

      + li {
        margin-top: 0.15em;
      }

      &::marker {
        color: $ul-bullet-color;
      }
    }
  }
}


/**
 * Text Size / Heading Alts
 */

.p-lead {
  color: $color-red;
  font-size: 19px;
  font-weight: 800;
  font-family: $font-heading;
  line-height: 1.5;
}

.text--large {
  font-size: 1.0625em;
}

.text--small {
  font-size: 0.75em;
}

.text--mobile-align-center {
  @include breakpoint( max-width 47.5em ) {
    text-align: center !important;
  }
}

.text--mobile-align-left {
  @include breakpoint( max-width 47.5em ) {
    text-align: left !important;
  }
}


/**
 * Image Alignment
 */

.alignnone {
  display: block;
  margin: 1em 0;
}

.aligncenter,
.alignright,
.alignleft {
  display: block;
  margin: 1em auto;
}

.alignright {
  @include breakpoint($bp-med) {
    float: right;
    margin-top: 0;
    margin-left: 1em;
    max-width: 50%;
  }
}

.alignleft {
  @include breakpoint($bp-med) {
    float: left;
    margin-top: 0;
    margin-right: 1em;
    max-width: 50%;
  }
}

.page-content{
  h3 + p .button {
    margin-top: 1.2em;
  }
}


/**
 * Anchor
 */

.link-page-anchor {
  position: relative;
  top: -12.4375em;
}
