.homepage-split-two-section{
  .row{
    > div{
      padding: 0;
    }
  }
  .row{
    flex-direction: column-reverse;
    @include breakpoint($bp-large){
      flex-direction: row;
    }
  }
  .photo-box{
    position: relative;
    overflow: hidden;

    @include breakpoint($bp-med) {
      height: 330px;
    }

    .homepage-split-two-section-desktop-bkg {
      display: none;

      @include breakpoint($bp-med) {
        @include block-fit-cover(70em);
      }
    }

    .homepage-split-two-section-mobile-bkg {
      display: block;

      @include breakpoint($bp-med) {
        display: none;
      }
    }
  }

  .callout-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 2em 0;
    max-width: 93%;
    margin: auto;
    @include breakpoint($bp-large){
      max-width: 620px;
      margin-left: 0;
      margin-right: 0;
      padding-left: 3em;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
