
/**
 * Header Layout
 */

.l-header {
  @include clearfix;
  padding: 1em 0;
  transition: padding 500ms;
  padding-bottom: 0em;

  .minify-header & {
    @include breakpoint($bp-med--tall) {
      padding: 0.5em 0;
      padding-bottom: em;
    }
  }


  @include breakpoint($bp-med) {
    @supports ( display: flex ) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.l-header-col-1 {
  @include breakpoint($bp-med) {
    float: left;
    width: 25%;

    @supports ( display: flex ) {
      width: auto;
    }
  }
}

.l-header-col-2 {
  @include breakpoint($bp-med) {
    float: right;
    width: 75%;

    @supports ( display: flex ) {
      margin-left: auto;
      width: auto;
    }
  }
}
