
/**
 * Utility Navigation
 */

.navigation--utility {
  margin-bottom: 20px;
  text-align: right;

  .nav-list{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  li {
    + li {
      padding-left: auto;
      border-left: 1px solid $border-color;
    }
  }

  li{
    &:last-child{
      margin-left: 0;
      a{
        padding: 0;
        color: $utility-nav-color;
        font-size: 13px;
      }
    }
  }

  a {
    display: block;
    // margin: -5px 0;
    // padding: 0.5em 0.15em;
    //
    // font-size: 0.875em;
    // font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $utility-nav-color--hover;
    }
  }

  .current-menu-item,
  .current-menu-ancestor {
    > a {
      color: $utility-nav-color--active;
    }
  }

  .sub-menu {
    display: none;
  }

  .search-bar .search-field{
    background-color: $color-gray;
    padding: .5em .75em;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 14px;
    padding-left: 17px;
    font-style: italic;
    font-weight: 600;
    .search-form{

    }
  }

  button.button.search-submit{
    background-color: $color-gray;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .search-bar label {
    padding-right: 1.3em;
  }
  .utility-nav--search{
    margin-right: 14px;
  }
}
