
/**
 * Mobile Navigation
 */

.mobile-nav-tray {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #fff;
  overflow-y: scroll;
  transition: transform 350ms;

  @include breakpoint($bp-med) {
    display: none;
  }

  .admin-bar & {
    padding-top: 2.875em;
  }

  .show-nav & {
    transform: translateX( -100% );
    transform: translate3d( -100%, 0, 0 );

    @include breakpoint($bp-med) {
      transform: translateX( 0 );
      transform: translate3d( 0, 0, 0 );
    }
  }
  .search-bar .search-field{
    background-color: $color-gray;
    padding: .5em .75em;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 14px;
    padding-left: 17px;
    font-style: italic;
    font-weight: 600;
    .search-form{

    }
  }

  button.button.search-submit{
    background-color: $color-gray;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .search-bar label {
    padding-right: 1.3em;
  }
  .mobile-nav--search{
    margin-right: 14px;
  }
}

.mobile-nav-header {
  padding: 2em 1em;
  text-align: right;
  display: flex;
  justify-content: space-between;

  a {
    display: inline-block;
    vertical-align: top;
  }
}

.navigation--mobile {
  padding: 2em 0;
  padding-top: 0;
  text-align: center;

  .navigation--social{
    margin-top: 1.3em;
   }
  .social-nav{
    background-color: $color-red;
    padding: 1em;
  }
}

.mobile-nav {
  @include list-reset;

  + .mobile-nav {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #dedede;
  }

  ul {
    @include list-reset;
  }

  li {
    margin: 0;

    + li {}
  }

  a {
    display: block;
    padding: .25em;
    color: $color-red;
    font-family: $font-heading;
    font-size: 19px;
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    transition: color 500ms;

    &:hover,
    &:focus {
      color: lighten($heading-color, 15%);
    }
  }

  .sub-menu {
    display: none;
    background-color: $color-red-light;
    padding-top: 1em;
    padding-bottom: 1em;
    a {
      font-size: 18px;
      color: $color-white;
      font-family: $font-heading;
      font-weight: 600;
    }

    .current-menu-item{
      background-color: $color-red-light;
        a{
          background-color: $color-red-light;
          color: $color-white !important;
          font-weight: 800;
        }
    }
  }
}

.mobile-nav--main {
 .current_page_item, .current-menu-parent{
   background-color: $color-red;
     a{
       color: white;
     }
 }
}

.mobile-nav--utility {
  a {
    font-size: 1em;
  }
  li{
    &:last-child{
      a{
        color: $color-white;
      }
    }
  }
}

.mobile-nav--search{
  margin-right: 0 !important;
  background-color: $color-red;
  .search-bar{
    padding-bottom: 1.5em;
    padding-top: 1em;
  }
  .search-form{
    width: 280px;
    margin: auto;
  }
}

// .mobile-nav--search {
//   margin-top: 2em;
//   padding: 0 1em;
//
//   .search-bar {
//     .search-submit {
//       border-color: $text-color;
//       font-size: 1.1875em;
//       background: $text-color;
//
//       &:hover,
//       &:focus {
//         background: $text-color;
//         border-color: $text-color;
//       }
//     }
//
//     .search-field {
//       border: 1px solid $text-color;
//       border-radius: 3px;
//       font-size: 1.1875em;
//
//       &:focus {
//         border-color: $text-color;
//       }
//     }
//   }
// }
