
/**
 * Navigation Search
 */

.nav-item-search {
  position: relative;
}

// Copy link styles from nav in which search dropdown lives
.nav-search-button {
  @include button-reset;
  display: block;
  margin: -5px 0;
  padding: 0.5em 0.15em;
  color: $color-black;
  font-size: 0.875em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $utility-nav-color--hover;
  }
}

.nav-search-label {
  display: block;
  position: relative;
  padding-right: 1.75em;

  svg {
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.nav-search-dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  padding: 0.5em;
  width: 18em;
  background-color: rgba( $border-color, 0.85 );
  transform: translateY( 0.5em );
  z-index: 495;

  .search-bar {
    .search-field {
      border-color: #fff;

      &:focus {
        border-color: #fff;
      }
    }

    .search-submit {
      color: #fff;
      border-color: #fff;
      background-color: $button-color;

      &:hover,
      &:focus {
        background-color: $button-color--hover;
      }
    }
  }
}
