
/**
 * Footer Navigation
 */

.navigation--footer {
  text-align: center;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include breakpoint($bp-med){
    justify-content: flex-start;
  }
  @include breakpoint($bp-large){
    margin-bottom: 0;
    margin-left: 6px;
    margin-top: 0px;
  }
  ul {
    line-height: 1;

    li {
      vertical-align: baseline;
      margin-right: -5px;

      + li {
        margin-left: 0;
        border-left: 2px solid white;
      }
    }
  }

  a {
    display: block;
    padding: 0 0.75em;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font-heading;
    font-weight: 800;
    @include breakpoint($bp-small){
      font-size: 14px;
    }
    @include breakpoint($bp-xl){
      font-size: 17px;
    }

    &:hover,
    &:focus {
      // text-decoration: underline;
      color: $color-red-light !important;
    }
  }

  .sub-menu {
    display: none;
  }
}
