
/**
 * Social Navigation
 */

.navigation--social {
  text-align: center;

  @include breakpoint($bp-med) {
    text-align: right;
  }

  h5 {
    margin: 0;
    margin-bottom: 0.75em;
  }

  ul {
    @include list-reset();
    text-align: center;
    @include breakpoint($bp-med) {
      text-align: right;
    }
  }

  li {
    @include nav-item-reset();

    + li {
      margin-left: 1em;
    }
  }

  a {
    display: block;
    color: $link-color;
    transition: opacity 500ms;

    &:hover,
    &:focus {
      color: $link-color;
      opacity: 0.75;
    }
  }

  svg {
    display: block;
  }
}
