
/**
 * Sidebar Navigation
 */

.sidebar-nav {
 background-color: $color-gray;
  ul {
    @include list-reset;
  }

  li {
    display: block;
    margin: 0;

    + li {
      // border-top: 2px solid $border-color;
    }
  }

  a {
    display: block;
    padding: .75em 42px;
    color: $color-black;
    text-decoration: none;
    font-weight: 800;
    font-family: $font-heading;
    transition: color 500ms;
    font-size: 17px;
    padding-left: 1.2em;

    &:hover,
    &:focus {
      color: $color-red;
    }
  }

  .children {
    display: block;
    margin-left: 0em;
    background-color: $color-red-light;
    padding-bottom: 1.3em;
    padding-top: 0.8em;
    a{
      font-weight: 500;
      padding-left: 2.3em;
      color: $color-white;
    }
    .current_page_item,
    .current_page_ancestor {
      > a {
        color: $color-white;
        background-color: $color-red-light;
        font-family: $font-heading;
        font-weight: 800;
      }
    }
    li + li{
      a{
        padding-top: 0;
      }
    }
  }

  .current_page_item,
  .current_page_ancestor {
    > a {
      color: $color-white;
      background-color: $color-red;
      font-family: $font-heading;
      font-weight: 800;
    }
  }

  .current_page_item,
  .current_page_ancestor {
    > .children {
      display: block;
    }
  }
}
