
/**
 * Main Navigation
 */

.navigation--main {
  position: relative;
  width: 100%;
  text-align: right;
  z-index: 490;

  .nav-list{
    li + li{
      margin-left: 0;
    }
  }

  li {
    position: relative;
    &:last-child{
      a{
        padding-right: 0;
      }
    }
    &:after{
      content: "";
      position: absolute;
      right: -2px;
      width: 2px;
      height: 13px;
      background: $color-red;
      top: 4px;
    }
  }
  li{
    &:last-child{
     &:after{
         display: none;
     }
    }
  }
  a {
    display: block;
    color: $main-nav-color;
    font-family: $font-heading;
    font-size: 16px;
    font-weight: 800;
    line-height: 1.2;
    text-decoration: none;
    padding: 0 18px;


    @include breakpoint($bp-med) {
      font-size: 14px;
      padding-bottom: 1.5em;
    }
    @include breakpoint($bp-large) {
      font-size: 16px;
    }

    @include breakpoint($bp-xl) {
      font-size: 16px;
      padding: 0 26px;
      padding-bottom: 1.5em;
    }

    &:hover,
    &:focus {
      color: $color-red;
      text-decoration: none;
    }
  }

  > ul {
    > li {
      + li {
        // margin-left: 1.5em;
      }
    }
  }

  .current-menu-item,
  .current-menu-ancestor {
    > a {
      color: $main-nav-color--active;
    }
  }

  .sub-menu {
    @include list-reset;
    position: absolute;
    left: -9999px;
    margin: 0;
    padding: 0.5em 1.4375em;
    min-width: 15em;
    text-align: left;
    z-index: 490;
    opacity: 0;
    background: $color-red;
    box-shadow: 0 7px 19px -8px rgba( #424242, 0.5 );
    transition: opacity 100ms linear;
    top: 104%;
    @include breakpoint($bp-mega){
      top: 101%;
    }
    li {
      display: block;
      margin: 0;
    }

    > li {
      + li {
        border-top: 1px solid white;
      }
    }

    a {
      padding: 1em 0;
      color: #fff;
      font-size: 16px;

      &:hover,
      &:focus {
        color: $color-red-light;
      }
    }
    .current-menu-item,
    .current-menu-ancestor {
      a {
        color: $color-red-light;
      }
    }
  }

  li {
    &:hover,
    &.is-active {
      > .sub-menu {
        left: 0;
        opacity: 1;
      }
    }

    &:last-child {
      &:hover,
      &.is-active {
        > .sub-menu {
          left: auto;
          right: 0;
        }
      }
    }
  }

  .sub-menu li {
    &:hover,
    &.is-active {
      > .sub-menu {
        left: 100%;
        top: 0;
      }
    }
  }
}
