//
//  Breakpoint
//  http://breakpoint-sass.com
//-------------------------------------------------------

@include breakpoint-set('to ems', true);
@include breakpoint-set('no query fallbacks', false);
@include breakpoint-set('default media', screen);

// Widths
$bp-xsmall: 20em;   // 320px
$bp-small:  30em;   // 480px
$bp-med:    47.5em; // 760px
$bp-large:  60em;   // 960px
$bp-large-lg:  975px;
$bp-xl:     75em;   // 1200px
$bp-mega:   90em;   // 1440px

// Heights
$bp-height-med: min-height 35.625em; // 570px

// Med width & tall screen - Used for sticky header
$bp-med--tall: ($bp-height-med) ($bp-med);
