/**
 * Variables
 */


/**
 * Fonts
 * ---
 */

$font-base:   'Montserrat', sans-serif;
$font-heading: 'Montserrat', sans-serif;



/**
 * Color Variables
 * ---
 * Main colors. Replace these with your own.
 */

// Main Colors
$color-black:         #000000;
$color-white:         #fff;
$color-red:           #7A1A00;
$color-red-light:     #BD8D8C;
$color-gray:          #F6F1F0;
$color-grey--dark:    #5b676b;
$color-grey--med:     #899296;

// Secondary Colors
$color-grey--med-2:   #abb6bb;
$color-grey--light:   #f2eee9;

// Utility Colors
$color-green:         #2bab2b;



/**
 * Theme Colors
 * ---
 * The theme colors define specific elements
 * of the template.
 */


/**
 * Typography Colors
 */

// Text Colors
$text-color:          #404041;
$heading-color:       $color-black;

// Link Colors
$link-color:          $color-red;
$link-color--hover:   darken( $link-color, 10% );

// Button Colors
$button-color:        $color-red;
$button-color--hover: darken( $button-color, 10% );

$button-color-two:        #fff;
$button-color--hover: darken( $button-color, 10% );

// List Colors
$ul-bullet-color:     $color-red;

// Inputs
$input-text-color:    $text-color;
$input-border-color:  $color-grey--med;
$input-border--focus: darken( $input-border-color, 10% );

// Icons
$icon-color:          $color-grey--dark;
$icon-color--hover:   darken( $icon-color, 10% );


/**
 * Navigation Colors
 */

// Generic
$nav-link-color:          $color-grey--dark;
$nav-link-color--hover:   darken( $nav-link-color, 10% );
$nav-link-color--active:  darken( $nav-link-color, 10% );

// Main nav
$main-nav-color:          $color-black;
$main-nav-color--hover:   darken( $main-nav-color, 10% );
$main-nav-color--active:  darken( $main-nav-color, 10% );

// Utility
$utility-nav-color:          $color-white;
$utility-nav-color--hover:   darken( $utility-nav-color, 10% );
$utility-nav-color--active:  darken( $utility-nav-color, 10% );


/**
 * Block Colors
 */

// Background Colors
$bkg-light-grey:  $color-grey--light;
$bkg-med-grey:    $color-grey--med;
$bkg-dark-grey:   $color-grey--dark;
$bkg-black:       $color-black;
$bkg-light-red:   $color-red-light;

// Border Colors
$border-color:    $color-grey--light;

// Site background colors
$banner-bkg:      $color-red;
$header-bkg:      #fff;
$footer-bkg:      $color-red;



/**
 * UI Colors
 */

$ui-error:    $color-red;
$ui-success:  $color-green;



/**
 * Layout
 * ---
 */

// 1200px + 3em padding ($max-width-spacing)
$max-width:         78em;
// 1200px + 4em padding ($max-width-spacing--large)
$max-width--large:  79em;
// 932px + 3em padding ($max-width-spacing)
$max-width--small:  61.25em;

$max-width-spacing:         0 1.5em;
$max-width-spacing--large:  0 2em;

$padding:                   3em;
$padding-medium:            3em;
$padding-large:             4em;

$vertical-padding:          3em 0;
$vertical-padding-medium:   3em 0;
$vertical-padding-large:    4em 0;

$horizontal-padding:        0 3em;
$horizontal-padding-medium: 0 3em;
$horizontal-padding-large:  0 4em;

$column-gutter:             2em;
$grid-gutter:               2em;



/**
 * Design/Animation
 * ---
 */

/**
 * Block design elements
 */

$border-radius: 3px;
$box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$box-shadow--light: 0 0 0.3125em rgba( 255, 255, 255, .5 );

// // Transitions
// $transition:        all 1s;
// $transition-fast:   all .5s;
// $transition-faster: all .25s;
// $transition-slow:   all 2s;
// $transition-slower: all 2.5s;
